<h1>Card Details</h1>
<p><strong>ID:</strong> <%= @card[:id] %></p>
<p><strong>Amount:</strong> $<%= @card[:amount] %></p>
<p><strong>Status:</strong> <%= @card[:status] %></p>
<p><strong>Activation Number:</strong> <%= @card[:activation_number] %></p>
<p><strong>Transaction:</strong> <%= @card[:transaction] %></p>
<p><strong>Reference Number:</strong> <%= @card[:reference_number] %></p>
<p><strong>Amount:</strong> $<%= @card[:amount] %></p>